@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

body, p, a, li {
  font-family: var(--font-euclid), 'Euclid Circular A', sans-serif;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-euclid), 'Euclid Circular A', sans-serif;
  line-height: 1;
  text-transform: uppercase;
}
